
<nav class="nav nav-inline">
  <a routerLink="/person"      routerLinkActive="active" class="nav-link active">List</a>
  <a routerLink="/person/edit" routerLinkActive="active" class="nav-link">Add</a>
</nav>
<p>

<span *ngIf="dataLoading">
  <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
</span>

<div *ngIf="!dataLoading">

  <div class="row">
    <div class="col-sm-7">
      <div class="card">

        <div class="card-header text-xs-center">
          {{person.firstName}} {{person.lastName}}
        </div>

        <div id="personCard" class="card-block" *ngIf="person">
          <div class="row">
            <div class="col-sm-2">
              Address
            </div>
            <div class="col-sm-9">
                {{person.address.street}}<br>{{person.address.city}} {{person.address.state}} {{person.address.zip}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              Home
            </div>
            <div class="col-sm-9">
                {{person.phone.home}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              Mobile
            </div>
            <div class="col-sm-9">
                {{person.phone.mobile}}
            </div>
          </div>

          <button id="editButton" class="btn btn-primary btn-sm"
                  (click)=onEdit(person)>
            Edit
          </button>

          <button id="deleteButton" class="btn btn-danger btn-sm"
                  (click)=onDelete(person)>
            Delete
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
