<div>
  <h2>About {{title}}</h2>
  This is a learning and sharing application for my Angular 2 journey. Angular has a <a href="https://angular.io/docs/ts/latest/quickstart.html" target="_blank">quickstart</a>
  overview and application as well as the more thorough <a href="https://angular.io/docs/ts/latest/tutorial/" target="_blank">Tour of Heroes</a> application from the tutorial.
  <p>
  <p>
  This is my stab at a small application supporting basic <b>C</b>reate, <b>R</b>eport, <b>U</b>pdate and <b>D</b>elete functionality. Feedback and pull requests are welcome.
</div>
