  <div class="container">
    <h3>Person Edit</h3>

    <form>

      <!-- First name -->
      <div class="form-group row">
        <label for="firstName" class="col-sm-3 col-form-label">First</label>
        <div class="col-sm-9">
          <input type="text" id="firstName" name="firstName" class="form-control" required
          [(ngModel)]="person.firstName">
        </div>
      </div>

      <!-- Last name -->
      <div class="form-group row">
        <label for="lastName" class="col-sm-3 col-form-label">Last</label>
        <div class="col-sm-9">
          <input type="text" name="lastName" id="lastName" class="form-control"
          [(ngModel)]="person.lastName">
        </div>
      </div>

      <!-- Street -->
      <div class="form-group row">
        <label for="street" class="col-sm-3 col-form-label">Street</label>
        <div class="col-sm-9">
          <input type="text" name="street" id="street" class="form-control"
          [(ngModel)]="person.street">
        </div>
      </div>

      <!-- City -->
      <div class="form-group row">
        <label for="city" class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-9">
          <input type="text" name="city" id="city" class="form-control"
          [(ngModel)]="person.city">
        </div>
      </div>

      <!-- State -->
      <div class="form-group row">
        <label for="state" class="col-sm-3 col-form-label">State</label>
        <div class="col-sm-9">
          <input type="text" name="state" id="state" class="form-control"
          [(ngModel)]="person.state">
        </div>
      </div>

      <!-- Zip -->
      <div class="form-group row">
        <label for="zip" class="col-sm-3 col-form-label">Zip</label>
        <div class="col-sm-9">
          <input type="text" name="zip" id="zip" class="form-control"
          [(ngModel)]="person.zip">
        </div>
      </div>

      <!-- Home phone -->
      <div class="form-group row">
        <label for="home" class="col-sm-3 col-form-label">Home phone</label>
        <div class="col-sm-9">
          <input type="text" name="home" id="home" class="form-control"
          [(ngModel)]="person.home">
        </div>
      </div>

      <!-- Mobile phone -->
      <div class="form-group row">
        <label for="mobile" class="col-sm-3 col-form-label">Mobile phone</label>
        <div class="col-sm-9">
          <input type="text" name="mobile" id="mobile" class="form-control"
          [(ngModel)]="person.mobile">
        </div>
      </div>
    </form>

      <!-- Outside of <form> because Chrome freaks out -->
      <button class="btn btn-default"
              (click)=onSave(person)>
        Save
      </button>

  </div>
